body {
	font: 75% "Trebuchet MS", sans-serif;	
}
.dialog-form {	
	border: 1px solid;
	cursor: none;
}
.dialog-form #container {
	background: url('images/logo_mode.png') no-repeat;
	overflow: auto;
}
.dialog-form .table-container {	
	overflow: auto;
	height: 270px;
	width: 985px;
	padding-right: 0 20px 0 0;	
}
.dialog-form #identifier  {
	width: 980px;	
	border-bottom: 2px solid;
}
.dialog-form #identifier #spacer {
	width: 310px;	
	display: inline-block;
}
.dialog-form #identifier #kassa-identifier {
	font-size: 1em;	
	width: 260px;
	height: 90px;	
	letter-spacing: 2px;
	line-height: 1.5em;
	display: inline-block;
}
.dialog-form #identifier #toko-identifier {
	font-size: 1em;	
	width: 300px;
	height: 90px;	
	letter-spacing: 2px;	
	display: inline-block;	
}
.dialog-form h2 {
	text-align: center;
}
.dialog-form table.data {
	width: 965px;
	margin: 0;
	padding: 0;
	border: 1px solid;
}
.dialog-form table#row-data {
	width: 965px;
	margin: 0;
	padding: 0;
	float: left;
	border: 1 px solid;
}
.dialog-form table tr.head td {
	text-align: center;
	border: 1px solid;
	padding-left: 5px;
	letter-spacing: 2px;
	height: 30px;
	background-color: #ffffff;
}
.dialog-form table tr.row td {
	font-size: 0.9em;
	padding-left: 5px;
	border: 1px solid;
	letter-spacing: 2px;
	height: 25px;
}
.dialog-form #input-scanner td {
	letter-spacing: 2px;
}
.dialog-form #input-scanner .pramu {
	width: 150px; 
	text-align: right;
}
.dialog-form #input-scanner .disc_total {
	width: 655px; 
	text-align: right;
}
.dialog-form #input-scanner .kasir {
	width: 150px; 
	height:40px; 
	padding-right:20px;
	text-align: right; 
	font-size: 1em;
}
.dialog-form #input-scanner #total {
	text-align: right;
	height: 45px;
	font-size: 3em;
	width: 250px;
}
.dialog-form .img-cc {
	text-align: center;
}
table#search-result, #dialog-refund table {
	border: 1px solid;
}
table#search-result tr.head, #dialog-refund table tr.head {
	background-color: #ddd;
	height: 30px;	
}
table#search-result tr.head td, #dialog-refund table tr.head td {
	padding: 2px;
	font-size: 1em;
	text-align: center;
	font-weight: bold;
	border: 1px solid;
}
table#search-result tr.row, #dialog-refund table tr.row{
	background-color: #fff;
	height: 15px;
}
table#search-result tr.row td, #dialog-refund table tr.row td{
	padding: 8px;
	border: 1px solid;
	letter-spacing: 2px;
}